html,body{
    font-family: "Heebo", sans-serif;
}


.blog-item-header{
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.blog-item .published-date{
    background-color: blueviolet;
}

.blog-item .category{
    background-color: grey;
}